

button,
[type='button'],
[type='submit'] {
  -webkit-appearance: button;
}

.sidebar-item {
  display: flex;
  align-items: center;
  padding: 10px 0;
  color: #6c757d;
  text-decoration: none;
}
.icon {
  font-size: 20px;
  margin-right: 10px;
} 
.icon1{
  font-size: 25px;
  margin-right: 10px;
}

.sidebar-link:hover {
  background-color: #27eb6f;
  color: white;
}

.icons{
  position: relative;
  bottom: 18px;
}
.size{
  font-size: 16px;
}

